Repository FachschaftMathPhysInfo/pepp, pull requests merged in 2025-05, with the labels that each got.

#103 added manual triggers to the workflows
  .github/workflows/go.yml
  .github/workflows/nextjs.yml
  .github/workflows/publish.yml
Labels: workflows

#105 Admin user settings
  frontend/app/(settings)/admin/users/page.tsx
  frontend/components/badge-picker.tsx
  frontend/components/confirmation-dialog.tsx
  frontend/components/event-dialog/room-selection.tsx
  frontend/components/event-dialog/tutor-selection.tsx
  frontend/components/filter.tsx
  frontend/components/tables/user-table/user-columns.tsx
  frontend/components/tables/user-table/user-table.tsx
  frontend/lib/gql/mutations/user.graphql
  frontend/lib/gql/queries/users.graphql
  server/graph/schema.graphqls
  server/graph/schema.resolvers.go
Labels: enhancement, frontend

#121 Admin Room Management
  frontend/app/(settings)/admin/rooms/building-section.tsx
  frontend/app/(settings)/admin/rooms/edit-room-dialog.tsx
  frontend/app/(settings)/admin/rooms/edit-room-form.tsx
  frontend/app/(settings)/admin/rooms/page.tsx
  frontend/components/confirmation-dialog.tsx
  frontend/components/tables/rooms-table/room-columns.tsx
  frontend/components/tables/rooms-table/room-table.tsx
  frontend/lib/gql/mutations/location.graphql
  frontend/lib/gql/queries/location.graphql
  frontend/package-lock.json
  frontend/package.json
  server/graph/schema.resolvers.go
Labels: enhancement, frontend

#118 implement oidc
  README.md
  frontend/components/providers.tsx
  server/auth/hash.go
  server/auth/oidc.go
  server/auth/salt.go
  server/auth/session.go
  server/db/init.go
  server/go.mod
  server/go.sum
  server/server.go
  server/utils/utils.go
Labels: enhancement, backend, frontend

#141 change sidebar to settings
  frontend/app/(settings)/sidebar.tsx
  frontend/components/header.tsx
Labels: frontend
