Repository FachschaftMathPhysInfo/pepp, pull requests merged in 2025-08, with the labels that each got.

#210 FR: Make Toasters Dismissable
  frontend/components/ui/sonner.tsx
Labels: enhancement, frontend

#228 Fix: Alert Margin & Copy ICS Button
  frontend/app/(planner)/[planner]/planner.tsx
  frontend/components/copy-text-area.tsx
Labels: bug, frontend

#240 Fix: Tutorial Table In Safari
  frontend/components/dialog/events/tutorials-table.tsx
  frontend/components/tables/tutorials-table/tutorials-table.tsx
Labels: bug, frontend

#236 Fix: Default Calendar Time On Next Available Event
  frontend/components/event-calendar/event-calendar.tsx
  frontend/lib/utils.ts
Labels: enhancement, frontend

#242 Fix: Create Events without Labels
  frontend/app/(planner)/[planner]/columns.tsx
  frontend/app/(planner)/[planner]/events/events-overview-page.tsx
  frontend/components/badge-picker.tsx
  frontend/components/event-calendar/event-form.tsx
Labels: bug, frontend

#235 Prettify: Planner Loading
  frontend/app/(planner)/[planner]/page.tsx
  frontend/app/(planner)/[planner]/planner.tsx
  frontend/app/(planner)/layout.tsx
  frontend/app/(planner)/page.tsx
  frontend/components/umbrella-popover-selection.tsx
Labels: bug, enhancement, frontend
